[Unit]
Description=uWSGI Instance to serve the DjangoAutoCTF
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/var/www/capstone_project
ExecStart = uwsgi --ini wsgi.ini
Restart=always
KillSignal=SIGQUIT
Type=notify
NotifyAccess=all

[Install]
WantedBy=multi-user.target

